body {
    background: url("../assets/img/snow.jpg") no-repeat;
}
 
/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* The "Logindenied" text */
#logindenied {
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 100%!;
}

/* The whole content for the portfolio */
#content {
padding: 100px;
    height: 1400px;
    width: 100%;
    overflow: auto;
}		


/* The text content for the portfolio */
#portfolio {
    padding: 50px;
    background-Color: white;
}

#header {
    padding: 20px;
    background-Color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#video{
    background-color: white;
    padding: 0px 50px 50px 50px;
}

#videopart1 {
    margin-left: 7.5%;
    float: left;
}

#videopart2	{
margin-right: 7.5%;
    float: right;
}
